body{
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 1%, #dddddd 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#ffffff), color-stop(99%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 1%,#dddddd 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 1%,#dddddd 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 1%,#dddddd 99%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 1%,#dddddd 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
    background-position: center center;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.container hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #b7b7b7;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0px 5px 0;
    border-bottom:1px solid #ff5b43;
}
.container{
    max-width: 800px;
}
.margin-top{
    padding-top: 250px;
}
.navbar-vekltd {
    background-color: rgba(255, 255, 255, 0.50);
    border-color: rgba(248, 248, 248, 0.50);
    -webkit-box-shadow: 0px 14px 30px 0px rgba(235,235,235,1);
    -moz-box-shadow: 0px 14px 30px 0px rgba(235,235,235,1);
    box-shadow: 2px 2px 1px rgba(137, 137, 137, 0.24);
}
.navbar-vekltd .navbar-brand {
    color: #777;
}
.navbar-vekltd .navbar-brand:hover,
.navbar-vekltd .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-vekltd .navbar-text {
    color: #777;
}
.navbar-vekltd .navbar-nav > li > a {
    color: #777;
}
.navbar-vekltd .navbar-nav > li > a:hover,
.navbar-vekltd .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-vekltd .navbar-nav > .active > a,
.navbar-vekltd .navbar-nav > .active > a:hover,
.navbar-vekltd .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #D9D9D9;
}
.navbar-vekltd .navbar-nav > .disabled > a,
.navbar-vekltd .navbar-nav > .disabled > a:hover,
.navbar-vekltd .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-vekltd .navbar-toggle {
    border-color: #ddd;
}
.navbar-vekltd .navbar-toggle:hover,
.navbar-vekltd .navbar-toggle:focus {
    background-color: #E6E6E6;
}
.navbar-vekltd .navbar-toggle .icon-bar {
    background-color: #c4c4c4;
}
.navbar-vekltd .navbar-collapse,
.navbar-vekltd .navbar-form {
    border-color: #D9D9D9;
}
.navbar-vekltd .navbar-nav > .open > a,
.navbar-vekltd .navbar-nav > .open > a:hover,
.navbar-vekltd .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-vekltd .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-vekltd .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-vekltd .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-vekltd .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-vekltd .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-vekltd .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-vekltd .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-vekltd .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-vekltd .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-vekltd .navbar-link {
    color: #777;
}
.navbar-vekltd .navbar-link:hover {
    color: #333;
}
.navbar-vekltd .btn-link {
    color: #777;
}
.navbar-vekltd .btn-link:hover,
.navbar-vekltd .btn-link:focus {
    color: #333;
}
.navbar-vekltd .btn-link[disabled]:hover,
fieldset[disabled] .navbar-vekltd .btn-link:hover,
.navbar-vekltd .btn-link[disabled]:focus,
fieldset[disabled] .navbar-vekltd .btn-link:focus {
    color: #ccc;
}
.label{

}
.form-group{
    margin-bottom: 20px;
}
.message,.email,.name {
    margin: 0px;
    display: none;
    position: absolute;
}

.footer{
    border-top: 2px solid #DBD4CB;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    padding-top: 5px;
}
.social a{
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(183, 175, 180, 0.52);
    color: #B7AFB4;
    box-shadow: 5px 5px 10px #B2ABAC;
}
.social a:hover{
    background-color: rgba(255, 255, 255, 0.64);
    border: 1px solid rgba(183, 175, 180, 0.52);
    color: #B7AFB4;
    box-shadow: 5px 5px 10px #B2ABAC;
}
.social a:active{
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(183, 175, 180, 0.52);
    color: #B7AFB4;
    box-shadow: 5px 5px 10px #B2ABAC;
}
.copay a{
    color: #CCC099;
}
.tt{
    margin: 0 auto;
}
.timer{
    height:150px;
}
.timers{
}
#timer_end{
    display: block;
}
.timer_days {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}
.timer_hours {
    animation-duration: 1.500s;
    -webkit-animation-duration: 1.500s;
}
.timer_minutes {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}
.timer_seconds {
    animation-duration: 2.500s;
    -webkit-animation-duration: 2.500s;
}
.timer{
    text-align: center;
}

.text_end{
    font-size: 50px;
    line-height:130px;
    color: #6d6d6d;
    text-shadow: 0 2px 2px rgba(208, 208, 208, 0.43);
}
.text {
    color: #303030;
    margin-top: -95px;
    line-height: 20px;
}
.val_seconds,.val_minutes,.val_hours,.val_days {
    font-size:50px;
    font-weight:bold;
    color: #4CDC7C;
    text-transform:uppercase;
}
.type_seconds,.type_minutes,.type_hours,.type_days{
    margin-top: 20px;
    font-size:11px;
    text-transform:uppercase;
}

.large-header {
    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 0;
}
