body {
    background: none;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.container-fluid{
    margin-top: 20px;
}

.alert {
   margin: 2px;
}
#editpost,.wp-editor-area{

}

.ibox-content .btn{
    padding: 5px;
}
.ibox-content .input-group-addon{
    box-shadow: none;
    border-radius: inherit;
}
.ibox-content .form-control{
    box-shadow: none;
    border-radius: inherit;
}
.ibox-content .form-control:focus{
    border: 1px solid #929da5;
    box-shadow: none;
    border-radius: inherit;
}
.ibox-title {
    cursor: pointer;
}
.ibox.ui-sortable-placeholder {
    margin: 0px 0px 23px !important;
}
.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
    margin-top: 5px;
}
.ibox-content.text-box {
    padding-bottom: 0px;
    padding-top: 15px;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    border-bottom: 2px solid #E7EAEC;
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
.ibox-content {
    clear: both;
}
.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}
.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.ibox-title .label {
    float: left;
    margin-left: 4px;
}
.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}
.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}
.ibox-tools a.btn-primary {
    color: #fff;
}
.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}
.ibox .open > .dropdown-menu {
    left: auto;
    right: 0;
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}



.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    word-wrap:break-word;
}
.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}
.label-primary,
.badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-success,
.badge-success {
    background-color: #1c84c6;
    color: #FFFFFF;
}
.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-info,
.badge-info {
    background-color: #23c6c8;
    color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
    background-color: #262626;
    color: #FFFFFF;
}
.label-white,
.badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}
.label-white,
.badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}
.panel{
    display: block;


    border: none;
    border-radius: inherit;
    box-shadow: none;
}
.panel .panel-default{
    border: none;
    border-radius: inherit;
    box-shadow: none;
}
.panel .panel-heading{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-radius: inherit;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 48px;
}
.panel .panel-body{
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
.panel .panel-body {
    clear: both;
}
.panel .panel-footer{
    border-radius: inherit;
    background-color: #F7F7F7;
    border-top: 1px solid #E7EAEC;
    border-bottom: 2px solid #E7EAEC;
}